.employee-dashboard {
    background-color: rgb(227, 216, 229);
    text-align: center;
    margin: 2%;
    padding: 1%;
}

.display-employee-container {
    padding: 0 30%;
}
.display-employee {
    background-color: rgb(139, 134, 139);
    padding: 3%;
    margin: 2%;
    height: 50%;
}

.content-section {
    margin: 0 10%
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
 tbody:nth-child(even) {
    background-color: #dddddd;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
  }

  .action-btn {
    width: 30%;
    padding: 2%;
  }

  .modal-container {
    margin: 8% 0;
    text-align: center;
  }