.header {
    height: 70px;
    background-color: darkviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding:2%;
    font-size: larger;
}