.employee-dashboard {
    background-color: rgb(227, 216, 229);
    text-align: center;
    margin: 2%;
    padding: 1%;
}

.display-employee-container {
    padding: 0 30%;
}
.display-employee {
    background-color: beige;
    padding: 3%;
    margin: 2%;
}